<template>
      <div>
            <h1>Choisissez votre base de données :</h1>
            <button @click="selectDatabase(1)">MySQL</button>
            <button @click="selectDatabase(2)">SQLite</button>
            <button @click="selectDatabase(3)">MongoDB</button>
            <button @click="selectDatabase(4)">Neo4j</button>
            <!-- Ajoutez d'autres boutons ou éléments pour les autres bases de données -->
      </div>
</template>

<script>
import DatabaseService from '../services/DatabaseService';


export default {
      methods: {
            selectDatabase(databaseNumber) {
                  DatabaseService.setDatabase(databaseNumber);
                  this.$router.push('/punto');
            },
      },
}
</script>