<template>
  <div id="app">
    <h1>Punto Game</h1>
    
    <table class="grid-container" style="margin: 0 auto;">

      <tr v-for="(row, rowIndex) in gameBoard" :key="rowIndex" class="grid-row">
        <td v-for="(cell, colIndex) in row" :key="colIndex" :class="getCellClass(rowIndex, colIndex, cell)" @click="placeTopCard(rowIndex, colIndex)" >
          {{ cell ? `${cell.number}` : '' }}
          <!-- {{ gameBoard[rowIndex][colIndex] ? `${gameBoard[rowIndex][colIndex].color} ${gameBoard[rowIndex][colIndex].number}` : '' }} -->
        </td>
      </tr>
    </table>

  </div>

  <!-- Affichage de la pile de cartes :class="fonction()"-->
  <div class="card-stack" style="margin-top: 20px; margin-bottom: 20px;">
    <!-- Faire un composoant VOIR PLUS TARD -->
    <div v-if="topCard" >
      <div class="card-stack-item" :class="getCardColor()">
        {{ topCard ? topCard.number: '' }} 
      </div>
      Cartes restantes : {{ currentPlayerCards.length }}
      Tour du joueur : {{ currentPlayer }}
    </div>
  </div>

  <br />
   <!-- Formulaire pour le nombre de parties et de joueurs -->
   <div class="form-container" style="margin-top: 20px; padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
    <form @submit.prevent="generateParties">
      <label for="numParties">Nombre de parties :</label>
      <input type="number" id="numParties" v-model="numParties" />

      <label for="numJoueurs">Nombre de joueurs :</label>
      <input type="number" id="numJoueurs" v-model="numJoueurs" />

      <!-- Utilisez le bouton de type "submit" pour déclencher la soumission du formulaire -->
      <button type="submit">Générer Parties</button>
    </form>
  </div>


</template>


<script>
import axios from 'axios';
import DatabaseService from '../services/DatabaseService';


export default {
  name: 'App',

  data() {
    return {
      gameBoard: Array.from({ length: 11 }, () => Array(11).fill([])),
      cards: [],
      topCard: null,
      clickableArea: { startRow: 5, endRow: 5, startCol: 5, endCol: 5 },
      currentPlayer: 1,
      currentPlayerCards: [],
      disabledRow: null,
      disabledCol: null,
      
      players: [],
      placedCards: [],
    };
  },

  methods: {

    async generateParties() {
      const databaseNumber = DatabaseService.selectedDatabase;
      let url = null;
      console.log("databaseNumber", databaseNumber);
      if (databaseNumber === 1) {
        console.log("MySQL");
        url = "http://localhost:4201/mysql/generation_parties"

      } else if (databaseNumber === 2) {
        console.log("SQLite");
        url = "http://localhost:4201/sqlite/generation_parties"

      } else if (databaseNumber === 3) {
        console.log("MongoDB");
        url = "http://localhost:4201/mongodb/generation_parties"

      } else if (databaseNumber === 4) {
        console.log("Neo4j");
        url = "http://localhost:4201/neo4j/generation_parties"

      } else {
        console.log("Erreur : base de données non reconnue");
      }

      try {
          // Appel Axios pour générer les parties
          const response = await axios.post(url, {
            numParties: this.numParties,
            numJoueurs: this.numJoueurs,
          });

          console.log(response.data);
          console.log("Génération de parties réussie !");
          
        } catch (error) {
          console.error('Erreur lors de la génération des parties :', error);
        }

    },



    initializeGame() {
      // this.cards = this.shuffle(this.generateCards());
      this.dealCards();
      this.gameBoard = Array.from({ length: 11 }, () => Array(11).fill(null));
      this.currentPlayerCards = this.players[this.currentPlayer - 1].cards;
      this.topCard = this.currentPlayerCards[this.currentPlayerCards.length - 1];

      console.log("test curPlCa", this.currentPlayerCards);
     
      // this.cardStack = [];
      // this.topCard = this.cards[this.cards.length - 1];
      console.log(this.gameBoard);
      // this.currentCard = {...this.cards[this.cards.length - 1], position: { row: 6, col: 6 }};
      // this.lastDrawnCardPosition = null;
    },

    generateCards() {
      const colors = ['red', 'blue', 'green', 'yellow'];
      const numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9];
      const cards = [];

      for (let color of colors) {
        for (let number of numbers) {
          cards.push({ color, number });
        }
        for (let number of numbers) {
          cards.push({ color, number });
        }
      }
      return cards;
    },
    
    shuffle(cards) {
      let currentIndex = cards.length;
      let randomIndex;

      while (currentIndex !== 0) {
        randomIndex = Math.floor(Math.random() * currentIndex);
        currentIndex--;

        [cards[currentIndex], cards[randomIndex]] = [cards[randomIndex], cards[currentIndex]];
      }
      return cards;
    },


    dealCards() {
      const colors = ['red', 'blue', 'green', 'yellow'];
      const player1Colors = colors.slice(0, 2);  
      const player2Colors = colors.slice(2, 4);  

      // Mélanger les cartes et diviser en deux paquets
      const shuffledCards = this.shuffle(this.generateCards());
      const player1Cards = shuffledCards.filter(card => player1Colors.includes(card.color));
      const player2Cards = shuffledCards.filter(card => player2Colors.includes(card.color));

      // Assigner les cartes aux joueurs
      this.players = [
        { id: 1, cards: player1Cards },
        { id: 2, cards: player2Cards },
      ];

      // Initialiser le paquet de cartes restantes
      this.cards = shuffledCards.filter(card => !player1Colors.includes(card.color) && !player2Colors.includes(card.color));

      // Afficher les cartes du joueur 1 dans la console (à des fins de débogage)
      console.log('Cartes du Joueur 1:', this.players[0].cards);
      console.log('Cartes du Joueur 2:', this.players[1].cards);
      console.log('Cartes restantes:', this.cards);
    },

    getCardColor() {
      return `grid-cell ${this.topCard.color}`;
    },

    getCellClass(row, col, cell) {
      // const isInFinalArea = row >= startRow && row <= endRow && col >= startCol && col <= endCol;
      if (this.isInClickableArea(row, col)) {
        return `grid-cell grid-cell-mid ${cell ? cell.color : ''}`;
            // ${this.lastDrawnCardPosition === `${row}-${col}` ? this.currentCard.color : ''}
      } else {
        return 'grid-cell grid-cell-outer';
      }
    },


    checkAdjacentCards(row, col) {
      const adjacentPositions = [
        { row: row - 1, col: col }, // Au-dessus
        { row: row + 1, col: col }, // En dessous
        { row: row, col: col - 1 }, // À gauche
        { row: row, col: col + 1 }, // À droite
        { row: row - 1, col: col - 1 }, // En haut à gauche
        { row: row - 1, col: col + 1 }, // En haut à droite
        { row: row + 1, col: col - 1 }, // En bas à gauche
        { row: row + 1, col: col + 1 }, // En bas à droite
      ];

      for (const position of adjacentPositions) {
        const { row: adjacentRow, col: adjacentCol } = position;

        if (
          adjacentRow >= 0 && adjacentRow < 11 &&
          adjacentCol >= 0 && adjacentCol < 11 &&
          this.gameBoard[adjacentRow][adjacentCol]
        ) {
          return this.gameBoard[adjacentRow][adjacentCol];
        }
      }

      return null;
    },

    


    placeTopCard(row, col) {
      console.log("row, col", row, col);
      console.log("gameboard row col", this.gameBoard[row, col]);
      console.log("gameboard", this.gameBoard);
      const existingCard = this.gameBoard[row][col];
      

      if (this.isInClickableArea(row, col) || this.gameBoard[row][col] === null) {
        console.log(this.currentPlayer)

        console.log("current gygygy", this.currentPlayerCards);
        // this.topCard = this.currentPlayerCards[this.currentPlayerCards.length - 1];

        const adjacentCard = this.checkAdjacentCards(row, col);
     
        console.log("adjacentCard", adjacentCard);
        console.log("placedCards", this.placedCards);
        console.log("placedCards", this.placedCards.length);

        if (existingCard) {
          // Vérifie si la nouvelle carte a une valeur strictement plus grande
          if (this.topCard.number > existingCard.number) {
            this.gameBoard[row][col] = this.topCard;
            this.currentPlayerCards.pop();
            
            this.updateClickableArea(row, col);
            this.placedCards.push({ row, col });
            this.currentPlayer = this.currentPlayer === 1 ? 2 : 1;

            if (this.currentPlayer === 1) {
              this.currentPlayerCards = this.players[0].cards;
            } else {
              this.currentPlayerCards = this.players[1].cards;
            }
            this.topCard = this.currentPlayerCards[this.currentPlayerCards.length - 1];
            this.checkWinner(row, col);
          } else {
            alert("La nouvelle carte doit avoir une valeur strictement plus grande que la carte déjà placée.");
          }
        } else if (this.placedCards.length === 0 || adjacentCard ) {
            this.gameBoard[row][col] = this.topCard;
            this.currentPlayerCards.pop();
            
            this.updateClickableArea(row, col);
            this.placedCards.push({ row, col });
            this.currentPlayer = this.currentPlayer === 1 ? 2 : 1;
            if (this.currentPlayer === 1) {
              this.currentPlayerCards = this.players[0].cards;
            } else {
              this.currentPlayerCards = this.players[1].cards;
            }
            this.topCard = this.currentPlayerCards[this.currentPlayerCards.length - 1];
            this.checkWinner(row, col);
        }
        else {
          alert("Vous devez placer la carte à côté ou sur la diagonale d'une autre carte.");
        }
      }
      else {
        alert("Vous ne pouvez pas placer de carte ici");
      }
      console.log("Players", this.players )
      console.log("gameBoard", this.gameBoard)
    },




    checkWinner(row, col) {
      const color = this.gameBoard[row][col].color;

      // Vérification horizontale
      let horizontalCount = 1;
      for (let i = col - 1; i >= 0 && this.gameBoard[row][i]?.color === color; i--) {
        horizontalCount++;
      }
      for (let i = col + 1; i < 11 && this.gameBoard[row][i]?.color === color; i++) {
        horizontalCount++;
      }

      // Vérification verticale
      let verticalCount = 1;
      for (let i = row - 1; i >= 0 && this.gameBoard[i][col]?.color === color; i--) {
        verticalCount++;
      }
      for (let i = row + 1; i < 11 && this.gameBoard[i][col]?.color === color; i++) {
        verticalCount++;
      }

      // Vérification diagonale gauche-droite
      let diagonalCountLR = 1;
      for (let i = row - 1, j = col - 1; i >= 0 && j >= 0 && this.gameBoard[i][j]?.color === color; i--, j--) {
        diagonalCountLR++;
      }
      for (let i = row + 1, j = col + 1; i < 11 && j < 11 && this.gameBoard[i][j]?.color === color; i++, j++) {
        diagonalCountLR++;
      }

      // Vérification diagonale droite-gauche
      let diagonalCountRL = 1;
      for (let i = row - 1, j = col + 1; i >= 0 && j < 11 && this.gameBoard[i][j]?.color === color; i--, j++) {
        diagonalCountRL++;
      }
      for (let i = row + 1, j = col - 1; i < 11 && j >= 0 && this.gameBoard[i][j]?.color === color; i++, j--) {
        diagonalCountRL++;
      }

      // Vérification du gagnant
      if (
        horizontalCount >= 5 ||
        verticalCount >= 5 ||
        diagonalCountLR >= 5 ||
        diagonalCountRL >= 5
      ) {
        alert(`Le joueur ${this.currentPlayer === 1 ? 2 : 1} a gagné !`);
        // Vous pouvez ajouter ici d'autres actions pour gérer la fin de la partie
      }
    },
    


    updateClickableArea(row, col) {
      const { startRow, endRow, startCol, endCol } = this.clickableArea;

      // const countAlignedCards = (start, end, board) => {
      //   let count = 0;
      //   for (let i = start; i <= end; i++) {
      //     if (board[i][col]) {
      //       count++;
      //     }
      //   }
      //   return count;
      // };

      // const countAlignedCardsHorizontal = (start, end, board) => {
      //   let count = 0;
      //   for (let i = start; i <= end; i++) {
      //     if (board[row][i]) {
      //       count++;
      //     }
      //   }
      //   return count;
      // };

      // const countAlignedCardsDiagonal = (startRow, endRow, startCol, endCol, board) => {
      //   let count = 0;
      //   for (let i = startRow, j = startCol; i <= endRow && j <= endCol; i++, j++) {
      //     if (board[i][j]) {
      //       count++;
      //     }
      //   }
      //   return count;
      // };

      // console.log("countAlignedCards vertical", countAlignedCards(startRow, endRow, this.gameBoard));
      // console.log("countAlignedCards horizontal", countAlignedCardsHorizontal(startCol, endCol, this.gameBoard));
      // console.log("countAlignedCards diagonal", countAlignedCardsDiagonal(startRow, endRow, startCol, endCol, this.gameBoard));
      
      // endRow - startRow < 5
      if (endRow - startRow < 5) {
        if (row === startRow && startRow > 0) {
          // Nouvelle carte placée en haut, ajuster la limite supérieure
          this.clickableArea.startRow = Math.max(0, startRow - 1);
          this.disabledRow = endRow;
        }
        if (row === endRow && endRow < 10) {
          // limite inférieure
          this.clickableArea.endRow = Math.min(10, endRow + 1);
          this.disabledRow = startRow;
        } 
      }
      // endCol - startCol
      if (endCol - startCol < 5) {

        if (col === startCol && startCol > 0) {
          // limite gauche
          this.clickableArea.startCol = Math.max(0, startCol - 1);
          this.disabledCol = endCol;
        } 
        if (col === endCol && endCol < 10) {
          // limite droite
          this.clickableArea.endCol = Math.min(10, endCol + 1);
          this.disabledCol = startCol;
        }
      }

    },


    isInClickableArea(row, col) {
      const { startRow, endRow, startCol, endCol } = this.clickableArea;
      return row >= startRow && row <= endRow && col >= startCol && col <= endCol;
    },

    isInMidGrid(row, col) {
      return row > 3 && row < 10 && col > 3 && col < 10;
    },

  },

  mounted() {
    this.initializeGame();
  },
};

</script>


<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.form-container {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.grid-container {
  border-collapse: separate;
}

.grid-row {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
}

.grid-cell {
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  padding: 20px;
  text-align: center;
  margin: 2.5px;
}

.grid-cell-mid {
  background-color: white; /* Blanc pour les cellules du milieu */
}

.grid-cell-outer {
  background-color: #ccc; /* Grisé pour les cellules en dehors */
}


.grid-cell-top-border,
.grid-cell-bottom-border,
.grid-cell-left-border,
.grid-cell-right-border {
  background-color: #ccc; /* Couleur grise pour la bordure */
  /* Ajoutez d'autres styles selon vos besoins */
}


.card-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-stack-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.red {
  background-color: red;
}

.blue {
  background-color: lightblue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}
</style>
